# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e1175a47e33fa1321bcedb86f96e26a09825c3314abc4f937a03cd660405b4d76fb55f2dc3b0ffd646d756534ae6aeaa7c66deeeaa526d2d8ff03770e10ea32d

test:
  secret_key_base: 332351826749fd5c5c1d6ddd59c7d28d469a2ff1c8d1b1c5ae87cf297217fac107442a858467f0cd416aa61baf83065151ddd15c1103f1f1a960680edbdf3602

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
